*,
*::after,
*::before {
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    color:#000000;
    font-family: 'DIN Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    overflow-y: scroll;
}

@font-face {
    font-family: 'DIN Pro';
    src: url(".assets/fonts/DIN-pro/dinpro_light.woff") format("woff"),
    url(".assets/fonts/DIN-pro/dinpro_light.woff2") format("woff2");
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'DIN Pro';
    src: url(".assets/fonts/DIN-pro/dinpro.woff") format("woff"),
    url(".assets/fonts/DIN-pro/dinpro.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url(".assets/fonts/DIN-pro/dinpro_medium.woff") format("woff"),
    url(".assets/fonts/DIN-pro/dinpro_medium.woff2") format("woff2");
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'DIN Pro';
    src: url(".assets/fonts/DIN-pro/dinpro_bold.woff") format("woff"),
    url(".assets/fonts/DIN-pro/dinpro_bold.woff2") format("woff2");
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'DIN Pro';
    src: url(".assets/fonts/DIN-pro/dinpro_black.woff") format("woff"),
    url(".assets/fonts/DIN-pro/dinpro_black.woff2") format("woff2");
    font-weight: 700;
    font-style: black;
}

main {
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    color: #111111;
}

a:hover {
    color: #FF9846;
}

.main-container {
    display: flex;
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
    padding-left: 100px;
    padding-right: 100px;
}

.middle-container {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}

.aside__menu, .aside__basket {
    max-width: 375px;
    background-color: #FFFFFF;  
}

.aside__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.aside__menu ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aside__menu ul li {
    position: relative;
    margin-left: 25px;
}

.aside__menu ul li a {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 22px;
}

.aside__menu ul li span {
    position: absolute;
    top: -10px;
    left: 105px;
    padding: 1px 8px 1px 8px;
    border-radius: 10px;
    background-color:#EB5757;

    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
}

.aside__basket {
    margin-top: 55px;
    margin-left: 40px;
}

.hr__logo {
    width: 180px;
    height: 1px;
    border: 1px solid #A4ACAD;
    opacity: 0.4;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo {
    margin-top: 26px;
    width: 137px;
    height: 140px;
}

header {
    display: flex;
    justify-content: space-between;
    border: 0.5px solid #A4ACAD;
    border-right: none;
    border-left: none;
    border-top: none;
}

.header__phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #A4ACAD;
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding: 8px 10px;
    width: 240px;
}

.header__phones a {
    color: #FF9846;
}

.header__phones a:hover {
    color: #111111;
}

.header__phones_text {
    color: #111111;
    text-align: center;
    font-weight: 500;
}

.phone {
    text-align: center;
    font-weight: 500;
}

.header__schedule {
    display: flex;
    gap: 5px;
}

.header__schedule_text {
    color: #A4ACAD;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.header__nav {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.header__nav nav ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.city {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 25px 10px;
}

.city__text {
    color: #A4ACAD;
    font-size: 14px;
    font-weight: 300;
}

.nav-and-search {
    display: flex;
    align-items: center;

}

.search {
    margin-left: 69px;
    margin-right: 40px;
    margin-top: 35px;
    margin-bottom: 29px;
}

.basket-block {
    width: 290px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.basket-block {
    width: 290px;
    height: 140px;
    background-color: #F2F2F2;
    border-radius: 0px 0px 5px 5px;
}

.delivery {
    width: 290px;
    height: 40px;
    background: #FF9846;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__bold {
    font-size: 24px;  
    font-weight: 500;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 10px;
}

.text__normal {
    color: #A4ACAD;
    text-align: center;
    margin-bottom: 26px;
}

.basket__text_upt {
    color: #F2F2F2;
    text-align: center;
    font-size: 14px;
}

.map-block {
    width: 290px;
    height: 223px;
    position: relative;
    background-color: #F2F2F2;
}

.map-block .map {
    margin-bottom: 25px;
}

.map-point {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #FF9846;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 110px;
}

/* Slider */
.container {
    margin: 0 auto;
    max-width: fit-content;
    padding: 1rem;
}

.slides-img {
    display: flex;
    width: 950px;
    height: 470px;
    overflow-x: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

.slides-img img {
    max-width: 100%;
    object-fit: cover;
    transition: margin-left 1s ease;
}

.nav-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
}

.circle-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.circle {
    height: 10px;
    width: 10px;
    background-color: #A4ACAD;
    border: 0.125rem solid #A4ACAD;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

input[name="radio"] {
    opacity: 0;
    display: none;
}

#r1:checked ~ .nav-block > .nav > .circle-area:nth-child(1) > .circle,
#r2:checked ~ .nav-block > .nav > .circle-area:nth-child(2) > .circle,
#r3:checked ~ .nav-block > .nav > .circle-area:nth-child(3) > .circle,
#r4:checked ~ .nav-block > .nav > .circle-area:nth-child(4) > .circle,
#r5:checked ~ .nav-block > .nav > .circle-area:nth-child(5) > .circle {
    height: 0.7rem;
    width: 0.7rem;
    background-color: #FF9846;
    border: 0.125rem solid #FF9846;
    transition: border .4s ease;
}

#r1:checked ~ .slides-img > .s1 {
    margin-left: 0;
}

#r2:checked ~ .slides-img > .s1 {
    margin-left: -100%;
}

#r3:checked ~ .slides-img > .s1 {
    margin-left: -200%;
}

#r4:checked ~ .slides-img > .s1 {
    margin-left: -300%;
}

#r5:checked ~ .slides-img > .s1 {
    margin-left: -400%;
}

@media screen {
    #r1:checked ~ .nav-block > .nav > .circle-area:nth-child(1) > .circle,
    #r2:checked ~ .nav-block > .nav > .circle-area:nth-child(2) > .circle,
    #r3:checked ~ .nav-block > .nav > .circle-area:nth-child(3) > .circle,
    #r4:checked ~ .nav-block > .nav > .circle-area:nth-child(4) > .circle,
    #r5:checked ~ .nav-block > .nav > .circle-area:nth-child(5) > .circle {
        border: 0.125rem solid #FF9846;;
    }
}

@media screen and (max-width: 900px) {
    .slides-img {
        width: 90vw;
    }

    .slides-img img {
        max-width: 100%;
    }

    .nav-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-block .nav {
        order: -1;
        margin-bottom: 1.25rem;
    }

    .circle-area {
        height: 20px;
        width: 20px;
    }

    .circle {
        height: 10px;
        width: 10px;
        background-color: #A4ACAD;
        border: 1px solid #A4ACAD;
        transition: background-color 0.5s ease;
    }

    #r1:checked ~ .nav-block > .nav > .circle-area:nth-child(1) > .circle,
    #r2:checked ~ .nav-block > .nav > .circle-area:nth-child(2) > .circle,
    #r3:checked ~ .nav-block > .nav > .circle-area:nth-child(3) > .circle,
    #r4:checked ~ .nav-block > .nav > .circle-area:nth-child(4) > .circle,
    #r5:checked ~ .nav-block > .nav > .circle-area:nth-child(5) > .circle {
        opacity: 1;
        border: 0.125rem solid #FF9846;
    }
}

@media (hover: hover) {
    .circle-area:hover .circle {
        border: 0.125rem solid #FF9846;
        background-color: #FF9846;
        opacity: 1;
    }

    #r1:checked ~ .nav-block > .nav > .circle-area:nth-child(1) > .circle:hover,
    #r2:checked ~ .nav-block > .nav > .circle-area:nth-child(2) > .circle:hover,
    #r3:checked ~ .nav-block > .nav > .circle-area:nth-child(3) > .circle:hover,
    #r4:checked ~ .nav-block > .nav > .circle-area:nth-child(4) > .circle:hover,
    #r5:checked ~ .nav-block > .nav > .circle-area:nth-child(5) > .circle:hover {
        background-color: transparent;
        border: 0.125rem solid #FF9846;
        opacity: 1;
    }
}
/* Slider */